<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DishServlet</servlet-name>
        <servlet-class>Servlet.DishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryServlet</servlet-name>
        <servlet-class>Servlet.DeliveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationServlet</servlet-name>
        <servlet-class>Servlet.NavigationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sigupServlet</servlet-name>
        <servlet-class>Servlet.sigupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sigupServlet</servlet-name>
        <url-pattern>/sigup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DishServlet</servlet-name>
        <url-pattern>/dish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryServlet</servlet-name>
        <url-pattern>/delivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationServlet</servlet-name>
        <url-pattern>/navigate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Servlet.CheckOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>body.jsp</welcome-file>
    </welcome-file-list>
</web-app>
